<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bortfolio x Flask</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Custom fonts for this template -->
  <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <!-- Fonts for resume -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <!-- Fonts for agency -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!-- Fonts for admin -->
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Imported styles for this template -->
  <link href="../static/css/resume.css" rel="stylesheet">
  <!--  <link href="../static/css/resume.min.css" rel="stylesheet">-->
  <link href="../static/css/agency.css" rel="stylesheet">
  <!--  <link href="../static/css/agency.min.css" rel="stylesheet">-->
  <link href="../static/css/sb-admin-2.css" rel="stylesheet">
  <!--  <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">-->

  <!-- Imported styles for this template -->
  <link href="../static/css/bortfolio_flask.css" rel="stylesheet">
</head>

<body id="page-top">
  <!-- Navigation -->
  {% include 'nav.html' %}

  {% block content %}
  {% endblock %}

  {% include 'footer.html' %}

  <!-- Bootstrap core JavaScript -->
  <script src="../static/vendor/jquery/jquery.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="../static/js/jqBootstrapValidation.js"></script>
  <script src="../static/js/contact.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../static/js/resume.min.js"></script>
  <script src="../static/js/agency.min.js"></script>
  <script src="../static/js/sb-admin-2.min.js"></script>
  <script src="../static/js/login.js"></script>
</body>

</html>