{% extends "layout.html" %}

{% block content %}
  <!-- About -->
  <section class="page-section" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Story</h2>
          <h3 class="section-subheading text-muted">The way I've been living</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../static/img/about/1.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2019.03 -</h4>
                  <h4 class="subheading">SSG.COM</h4>
                  <h5 class="subheading">Backend Developer</h5>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Developed payment and delivery service for customer claim, such as Easy Payment, Reservation Payment. Managed Data changed by Exchenge, Refund, Cancle requests. </p>
                  <p class="text-muted">Skill set: Java, Oracle, JavaScript, JSP, HTML, CSS, Spring Framework</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../static/img/about/2.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2017.10 - 2017.12</h4>
                  <h4 class="subheading">T'way Air</h4>
                  <h5 class="subheading">Freelance Frontend Developer</h5>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Development front pages of the official website. Especially managed multi-language tasks</p>
                  <p class="text-muted">Skill set : HTML, CSS, JavaScript</p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../static/img/about/3.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2016.01 - 2016.05</h4>
                  <h4 class="subheading">Universite Paris Dauphine</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <img class="rounded-circle img-fluid" src="../static/img/about/4.jpg" alt="">
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>2010.03 - 2018.08</h4>
                  <h4 class="subheading">Sungkyunkwan Univ.</h4>
                  <h5 class="subheading">Economics / Eastern Philospophy & Confucianism</h5>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Major in Economics / Eastern Philosophy & Confucianism</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Be Part
                  <br>Of My
                  <br>Story!</h4>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}