{% extends "layout.html" %}

<!--프로젝트 정리-->
<!--
  1. 티웨이항공    - 부가서비스 번들
  2. SSG.COM      - SSG 간편결제
  3. SSG.COM      - 쓱페이콘
-->

{% block content %}
<!-- Portfolio Grid -->

<section class="bg-light page-section" id="portfolio">
<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading text-uppercase">Portfolio</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
  </div>
  <div class="row">
    {% for work in works %}
    <div class="col-md-4 col-sm-6 portfolio-item">
      <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{work['WORK_NO']}}">
        <div class="portfolio-hover">
          <div class="portfolio-hover-content">
            <i class="fas fa-plus fa-3x"></i>
          </div>
        </div>
        <img class="img-fluid" src="{{work['REP_IMG']}}" alt="">
      </a>
      <div class="portfolio-caption">
        <h4>{{work['TITLE']}}</h4>
        <p class="text-muted">{{work['CLIENT']}} / {{work['CTG']}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</section>

  <!-- Portfolio Modals -->
{% for work in works %}
  <div class="portfolio-modal modal fade" id="portfolioModal{{work['WORK_NO']}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl"></div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="modal-body">
                <!-- Project Details Go Here -->
                <h2 class="text-uppercase">{{work['TITLE']}}</h2>
                <p class="item-intro text-muted">{{work['SUB_TITLE']}}</p>
                <img class="img-fluid d-block mx-auto" src="../static/img/portfolio/0{{work['WORK_NO']}}-full.jpg" alt="">
                <p>{{work['DESCRIPTION']}}</p>
                <ul class="list-inline">
                  <li>Date: {{work['STRT_DT']}} - {{work['END_DT']}}</li>
                  <li>Client: {{work['CLIENT']}}</li>
                  <li>Category: {{work['CTG']}}</li>
                </ul>
                <button class="btn btn-primary" data-dismiss="modal" type="button">
                  <i class="fas fa-times"></i>
                  Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}